<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="false"
        android:theme="@style/Theme.MultiProject"
        tools:targetApi="31">
        <activity
            android:name=".ReviewActivity_Recipe"
            android:exported="true">
        </activity>
    </application>

</manifest>